<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColorExtractor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>821FA1041D9EED6B0095248D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821FA1181D9EED6B0095248D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821FA1231D9EED6B0095248D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
